*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    height: 100px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container{
    max-width: 1400px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 500px;
    
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0 ;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0 ;
}
.btn{
    display: inline-block;
    background: #C19A6B	 ;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #D27D2D		;
}
.header{
    
    background: radial-gradient(#ffff,#C19A6B	 );
    

}
.header .row{
    margin-top: 70px ;
}
.categories{
    margin:  70px 0;
}
.col-3{
    flex-basis: 30%;
    padding: 10px;
    min-width: 250px;
    margin-bottom: 30px ;
    transition:transform 0.5s;

}
.col-3:hover{
    transform: translateY(-5px);
}
.col-3 img {
    width: 100%;
    height: 200px;

}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition:transform 0.5s;
}
.col-4 img{
    width: 100%;
    height: 180px;
}
.col-3 img{
    width: 100%;
    height: 200px;

}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height:  60px;
    color: #555;
}
.title::after{
    content: '';
    background:#D27D2D	  ;
    width: 80px;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;

}

.col-4 p{
    font-size: 14px;

}

.raiting .fa{
    color: #ff523b;
}
.col-4:hover{
    transform: translateY(-5px);
}
.col-5 {
    flex-basis: 20%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition:transform 0.5s;
}
.col-5 img{
    width: 100%;
}
.footer{
    background-color: #24262b;
    padding: 70px 0;
}
.footer-col h4{
    color:#C19A6B ;
    text-transform: capitalize;
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer-col p{
    color:#ffff ;
    position: relative;
    
}
ul{
    list-style: none;
}
.footer-col{
    width: 50%;
    padding: 0 15px;
    
    
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #C19A6B;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col{
    flex-basis: 50%;
    min-width: 500px;
    
}
#opening{
    transition: 0.5s ease-in ;

}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}